<div class="registerContainer">
    <h1>Register</h1>
    <div class="registerFormContainer">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label for="gender">Gender</mat-label>
                <mat-select required id="gender" formControlName="gender">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label for="firstName">Firstname</mat-label>
                <input matInput required type="text" id="firstName" formControlName="firstName">
                <mat-error *ngIf="f.firstName.dirty">Test</mat-error>
            </mat-form-field>

<!--            <mat-form-field>
                <mat-label for="lastName">Lastname</mat-label>
                <input matInput type="text" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="street">Street</mat-label>
                <input matInput type="text" id="street" required [(ngModel)]="user.street" name="street">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="streetNumber">Number</mat-label>
                <input matInput type="text" id="streetNumber" required [(ngModel)]="user.streetNumber" name="streetNumber">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="postZip">PLZ</mat-label>
                <input matInput type="text" id="postZip" required [(ngModel)]="user.postzip" name="postZip">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="place">Place</mat-label>
                <input matInput type="text" id="place" required [(ngModel)]="user.place" name="place">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="email">E-Mail</mat-label>
                <input matInput type="text" id="email" required [(ngModel)]="user.email" name="email">
            </mat-form-field>-->

            <mat-form-field>
                <mat-label for="password">Password</mat-label>
                <input matInput required [type]="hide ? 'password' : 'text'" id="password" formControlField="password"/>
                <button type="button" matSuffix class="mat-icon-button mat-button-base" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="f.password.errors.required">Password is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label for="confirmPassword">Password confirmation</mat-label>
                <input matInput required [type]="hideConfirmation ? 'password' : 'text'" formControlField="confirmPassword" />
                <button type="button" matSuffix class="mat-icon-button mat-button-base" (click)="hideConfirmation = !hideConfirmation" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmation">
                    <mat-icon>{{ hideConfirmation ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Register</button>
        </form>
    </div>
</div>
