<h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
  <span><a (click)="removeFromCard(item)"><i class="material-icons">delete</i></a></span>
</div>

<button (click)="clearCart()" *ngIf="items.length">Clear cart</button>

<div *ngIf="items.length" class="example-container">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <input matInput placeholder="Enter your name" formControlName="name">
        <mat-error>
          {{ getErrorMessage(checkoutForm.get('name'), 'name')?.error }}
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput placeholder="Enter your email" formControlName="email">
        <mat-error>
          {{ getErrorMessage(checkoutForm.get('email'), 'email')?.error }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="button-wrapper">
      <button color="primary" [disabled]="!checkoutForm.valid">Submit</button>
    </div>
  </form>
</div>

<p><a routerLink="/shipping">Shipping Prices</a></p>